@{
    ViewBag.Title = "pagina de inicio";

}




<div class="jumbotron">
    <h1> Bahia 3D  </h1>
    <p class="lead">venta desarrollo de diseños 3D textura, modelos, materias y animaciones.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
    <!-- Corousel  -->
    <div class="col col-lg-12">

        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img width="100%" height="500px" src="~/Content/imgs/nave-3d_02.jpg" alt="Los Angeles">
                </div>
                <div class="carousel-item">
                    <img width="100%" height="500px" src="~/Content/imgs/nave-3d_01.jpg" alt="Chicago">
                </div>
                <div class="carousel-item">
                    <img width="100%" height="500px" src="~/Content/imgs/nave-3d.jpg" alt="New York">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>

    </div>

</div>